@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@font-face {
    font-family: Bird Of Paradise;
    src: url();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    font-family: 'inter', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: -12px;
    left: 0;
    z-index: 10;
}

/* Nav Bar */
.navbar {
    display: flex;
    transition: top 0.3s;
    background-color: white;
    padding: 0px 0;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0% !important; 
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .links {
    display: flex;
    gap: 35px;
    padding-top: 5px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s ease;
    font-family: 'Inter',sans-serif;
}

.navbar .links a:hover {
    color: #ffffff;
    background-color: #1652F0;
    padding: 15px;
    border-radius: 10%;
}

.navbar .login-btn {

    color: #1652F0;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .login-btn:hover {
    color: #ffffff;
    background-color: #1652F0;
    padding: 15px;
    border-radius: 5%;
}

.logo-box {
    width: 100px;
    /* Lebar kotak logo */
    height: 100px;
    /* Tinggi kotak logo */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* Mengatur sudut kotak */
}

.logo {
    max-width: 150%;
    max-height: 100%;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

/*main */
.aboveus {
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 100px;
}

.prititle {
    font-weight: 700;
    color: #1652F0;
}

.contentsup {
    display: flex;
    gap: 100px;
    padding-top: 50px;
    list-style: none;
    justify-content: center;
}

.contentsup a {
    color: #000000;
    font-size: 1.50rem;
    font-weight: 600;
    text-decoration: none !important;
    transition: 0.1s ease;
}

.aboveus .contentsup a:hover {
    color: #ffffff;
    background-color: #1652F0;
    padding: 15px 15px;
    border-radius: 5%;
}

/* Foto */
.container2 {
    display: grid;
    padding-top: 50px;
    justify-content: center;
  align-content: center;
    grid-template-columns: 300px 300px 300px;
    row-gap: 10px;
    column-gap: 10px !important;
  }

  .foto {
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
  }

/* footer */
.lsgcorp .bg-corp {
    position: absolute;
    width: 1000px !important;
    bottom: 20%;
    margin: 0 auto;
    right: 32%;
    padding-bottom: 5px;
    z-index: 4 !important;

}

.lsgcorp h1 {
    position: absolute;
    top: 22.5%;
    left: 51%;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#ffffff;
    word-spacing: -1px;
    z-index: 9;
}

.lsgcorp p {
    position: absolute;
    top: 31.5%;
    left: 51%;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#ffffff;
    word-spacing: -1px;
    line-height: 25px;
    z-index: 9;
}

.logo-avidencorp {
    position: absolute;
    width: 250px;
    max-width: 100%;
    margin: 0 auto;
    top: 10%;
    left: 50%;
    padding-bottom: 5px;
    z-index: 10 !important;
}
.linelsg {
    position: absolute;
    border: 1px solid white;
    width: 250px;
    top: 78%;
    left: 32%;
 
}

.consultus {
    font-family: 'Inter', sans-serif;
    position: absolute;
    text-transform: uppercase;
    top: 82.5%;
    left: 32%;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 2px;
    color: #ffffff;
}

.consultkontak {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 90.5%;
    left: 32%;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 2px;
    color: #ffffff;
}

.formfooter{
    position: absolute;
    bottom:20%;
    left: 51%;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;

}

.containerfooter {
    position: relative;
    width: 100%;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: auto;
    margin-right: auto;
    height: 655px;
    background-color: #1652F0;
}